.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: auto;
}

.logo-text {
  font-size: 24px;
  font-weight: 700;
  margin: 0;

  color: #ffffff; /* roxo */
}
